{% extends "app/header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-light rounded mt-5 pt-5 main_body">
    <h1 style="color:#4d375d;" class="d-flex justify-content-center p-5">Giấu tin trong audio</h1>
    <div class="container p-5">
        <form class="" action="{% url 'main:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div id="input_pass">
                
            </div>
            <button id="btn_submit"  type="submit" class="btn btn-primary">Thực hiện</button>
        </form>
        <div id="warning" class="alert alert-warning" role="alert">
        </div>
    </div>    
</div>
<script>
    let v = $("#id_tool").val();
    if(v=='mp3stego'){
        let inp = "<label>Mật khẩu</label><input type='password' name='password' placeholder='Nhập mật khẩu'>";
        $("#input_pass").html(inp);
        $("#warning").html("yêu cầu file định dạng wav, sample rate: 44100Hz, bit rate: 128")
    }
    else if(v == 'stegano'){
        $("#input_pass").html("");
        $("#warning").html("yêu cầu file định dạng wav")
    }
    else{
        $("#input_pass").html("");
        $("#warning").html("yêu cầu file định dạng wav")
    }
    $("#id_tool").change(function(){
        
        let selected_item = $(this).val();
        if(selected_item == 'mp3stego'){
            let inp = "<label>Mật khẩu</label><input type='password' name='password' placeholder='Nhập mật khẩu'>";
            $("#input_pass").html(inp);
            $("#warning").html("yêu cầu file định dạng wav, sample rate: 44100Hz, bit rate: 128")
        }
        else if(v == 'stegano'){
            $("#input_pass").html("");
            $("#warning").html("yêu cầu file định dạng wav")
        }
        else{
            $("#input_pass").html("");
            $("#warning").html("yêu cầu file định dạng wav")
        }
    });
</script>
{% endblock content %}